body {
  color: #ffffff;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.App-header {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 2px 2px 3px #8a4d1a;
  padding: 2em 1em;

}

.Quiz {
  background-color: #6072b3;
  margin: auto;
  padding: 2em;
  max-width: 1000px;
  height: auto;
  box-shadow: 8px 8px 20px 0px #ffffff;
  border-radius: 15px;
  font-size: 24px;
  
  
}

.question-count {
  margin-bottom: 1em;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 1em;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}