body {
  background-color:#F6F6F6;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  margin: 1em;
  overflow: auto;
}

.App-header {
  text-align: center;
  padding-top: 1em;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  text-shadow: 3px 1px 5px #413a5f;
}

h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-top: -0.5em;
}

p {
  font-size: 20px;
  padding-bottom: 2em;
  margin-top: -1em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  border-radius: 50%;
  width: 300px;
  height: auto;
}

.Quiz {
  background-color: #7682b3;
  margin: auto;
  padding: 2em;
  max-width: 1000px;
  height: auto;
  box-shadow: 5px 5px 20px 0px #413a5f;
  border-radius: 15px;
  font-size: 18px;
}

.question-count {
  margin-bottom: 0.5em;
}

.question-text {
  margin-bottom: 1em;
  font-weight: 500;
  font-size: 24px;

}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.score-section {
  margin-top: -2em;
  display: block;
}

button {
  flex-basis: 49%;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  background-color: #615688;
  border-radius: 30px;
  border: 3px solid #ffffff;
  display: flex;
  padding: 1em;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0px 7px 0px #615688;
  cursor: pointer;
}

button:hover {
  background-color: #413a5f;
}

button:active {
  background-color: #413a5f;
  box-shadow: 0 3px #413a5f;
  transform: translateY(4px);
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

#takeAgain {
  padding: 0.5em;
  border-radius: 20px;
  margin: auto;

}